moviepy==1.0.3
ffmpeg-python
subliminal
babelfish
pyttsx3
mutagen
beautifulsoup4
requests
speechrecognition
pydub
youtube-upload
openai
elevenlabs
PyBetterFileIO
pydub
moviepy
speechrecognition
google-api-python-client
oauth2client
httplib2
